/*------ HEADER----------*/

header {
  padding: 15px 0;
}
header .container {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr auto;
  grid-template-areas: "logo mobile";
  gap: 40px;
}
@media (min-width: 992px) {
  header .container {
    grid-template-columns: auto 1fr auto auto;
    grid-template-areas: "logo menu switch buttons";
  }
}
header .container #logo {
  grid-area: logo;
}
header .container #menu {
  grid-area: menu;
  display: none;
}
@media (min-width: 992px) {
  header .container #menu {
    display: block;
  }
}
header .container #menu nav {
  display: flex;
  gap: 15px;
}
header .container .btn-switch {
  grid-area: switch;
  display: none;
}
@media (min-width: 992px) {
  header .container .btn-switch {
    display: block;
  }
}
header .container .account-buttons {
  grid-area: buttons;
  display: none;
  gap: 15px;
}
@media (min-width: 992px) {
  header .container .account-buttons {
    display: flex;
  }
}
header .container .btn-mobile {
  grid-area: mobile;
  display: block;
}
@media (min-width: 992px) {
  header .container .btn-mobile {
    display: none;
  }
}
/* -------------------------------------------MAIN----------------------------------------------- */
.signIn .container{
    display: flex;
    justify-content: center;       
}
.sigInForm{
    display: block;
    width: 40%;
    padding-top: 100px;
}
@media (max-width: 768px) {
  .sigInForm {
    display: block;
    width: 100%;
    padding: 20px;
  }
}
.sigInForm button{
    width: 100%; 
    margin-top: 20px;  
    margin-bottom: 20px; 
    box-shadow: 8px 10px 7px rgba(0, 0, 0, 0.1);
}
.sigInForm .box input{
    width: 100%;
    border-radius: 8px;
    border: 2px solid rgb(238, 238, 238);
    padding: 10px;margin-bottom: 20px;
}
.Pclass{
    text-align: center;
    font-size: 14px;
}
.networkButtons{
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}
@media (max-width: 768px) {
  .networkButtons {
    display: block;
  }
}

/*------ FOOTER----------*/

footer {
    padding: 50px 0 30px 0;
    line-height: 160%;
    font-weight: 400;
    color: #565973;
    font-family: "Manrope", sans-serif;
    font-size: 16px !important;
    color: #9397AD;
  }
  footer .container {
    display: block;
    text-align: center;
    width: 60%;
  }
  footer .container p{
    font-size: 14px;
  }

